<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">

<%= bootstrap_form_for(newsletter) do |form| %>
  <%= form.text_field :object, id: :newsletter_object %>
  <div id="newsletter_content_pell" style="background: white"></div>
  <%= form.hidden_field :content, id: :newsletter_content %>
  <%= form.submit %>
<% end %>

<script src="https://unpkg.com/pell"></script>

<script>
const editor = window.pell.init({
  // <HTMLElement>, required
  element: document.getElementById('newsletter_content_pell'),
  onChange: function(html) {
    document.getElementById('newsletter_content').value = html;
  },
  defaultParagraphSeparator: 'p',
});

var pellc = document.getElementsByClassName('pell-content')
i = pellc.length;
while(i--) {
  pellc[i].innerHTML = '<%= @newsletter.content.html_safe %>';
}
</script>