<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active " aria-current="page"><%= link_to t('users'), users_path %></li>
    <li class="breadcrumb-item active " aria-current="page"><%= @user.complete_name %></li>
  </ol>
</nav>
<h1><img src="<%= @user.picture %>" class="rounded-circle"><%= @user.complete_name %></h1>
<% if current_user == @user %>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="Third group">
      <%= link_to t('product.new'), new_product_path, class: 'btn btn-primary' %>
      <%= link_to t('user.edit'), edit_user_path(@user), class: 'btn btn-warning' %>
      <%= link_to t('user_session.destroy'), signout_path, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
<p><%= @user.email %></p>
<h2><%= t 'products' %></h2>
<%= render 'products/list', products: @user.products %>