<section class="row text-center py-5 mb-5">
  <div class="col">
    <h1 class="my-5 display-3"><%= t 'landing.big_punchline_description' %></h1>
    <p class="lead"><%= t 'landing.big_punchline_description_content' %></p>
    <p class="alert alert-warning"><%= t 'landing.warning-beta' %></p>
    <%= render 'products/search_form' %>
  </div>
</section>
<section class="row text-center border-top text-center py-5">
  <% ['one', 'two', 'three'].each do |i| %>
    <div class="col">
      <img src="http://lorempicsum.com/futurama/200/200/1" class="rounded-circle">
      <h3><%= t "landing.argument.#{i}.title" %></h3>
      <p class="lead"><%= t "landing.argument.#{i}.description" %></p>
    </div>
  <% end %>
</div>
</section>
<section class="row text-center border-top py-5">
  <div class="col mb-5">
    <h2 class="display-4"><%= t 'categories' %></h2>
    <p class="lead pb-2"><%= t 'page.home.products_h2_description' %></p>
    <%= render 'categories/list', categories: @categories %>
  </div>
</section>
<section class="row text-center border-top py-5">
  <div class="col mb-5">
    <h2 class="display-4"><%= t 'products' %></h2>
    <p class="lead pb-2"><%= t 'page.home.categories_h2_description' %></p>
    <%= render 'products/list', products: @products %>
    <%= link_to t('page.home.see_more_products'), products_path, class: 'btn btn-lg btn-secondary float-right' %>
  </div>
</section>
<section class="row text-center border-top py-5">
  <div class="col">
    <h2><%= t 'landing.stay_tuned' %></h2>
    <%= render 'newsletters/form' %>
  </div>
</section>