<h1><%= t('legal') %></h1>
<h2><%= t 'page.legal.code_of_ethic' %></h2>
<p class="text-justify"><%= t 'page.legal.code_of_ethic_content' %></p>
<h2><%= t 'page.legal.spirit' %></h2>
<p class="text-justify"><%= t 'page.legal.spirit_content' %></p>
<h2><%= t 'page.legal.ethical_approach' %></h2>
<p class="text-justify"><%= t 'page.legal.ethical_approach_content' %></p>
<h2><%= t 'page.legal.health_and_security' %></h2>
<p class="text-justify"><%= t 'page.legal.health_and_security_content' %></p>
<h2><%= t 'page.legal.personal_and_private_life' %></h2>
<p class="text-justify"><%= t 'page.legal.personal_and_private_life_content' %></p>
<h2><%= t 'page.legal.discrimination' %></h2>
<p class="text-justify"><%= t 'page.legal.discrimination_content' %></p>
<h2><%= t 'page.legal.harassment' %></h2>
<p class="text-justify"><%= t 'page.legal.harassment_content' %></p>
<h2><%= t 'page.legal.quality' %></h2>
<p class="text-justify"><%= t 'page.legal.quality_content' %></p>
<h2><%= t 'page.legal.confidentiality' %></h2>
<p class="text-justify"><%= t 'page.legal.confidentiality_content' %></p>
<h2><%= t 'page.legal.transparency' %></h2>
<p class="text-justify"><%= t 'page.legal.transparency_content' %></p>
<h2><%= t 'page.legal.conflicts_of_interest' %></h2>
<p class="text-justify"><%= t 'page.legal.conflicts_of_interest_content' %></p>
<h2><%= t 'page.legal.representing_society' %></h2>
<p class="text-justify"><%= t 'page.legal.representing_society_content' %></p>
<h2><%= t 'page.legal.practical_aspects: Aspects pratiques ' %></h2>
<p class="text-justify"><%= t 'page.legal.practical_aspects_content' %></p>