<div class="row">
  <div class="col">
    <h1><%= t('reservation.index') %></h1>
  </div>
</div>
<div class="row">
  <% @reservations.each do |reservation| %>
    <div class="col-4">
      <div class="card card-reservation box-shadow text-center">
        <%= link_to reservation do %>
          <div class="card-img-top" style="background-image: url(<%= reservation.product.picture.url %>)" alt="Card image cap"></div>
        <% end %>
        <div class="card-body">
          <p class="card-title"><%= link_to reservation.product.name, reservation.product %> <%= status_badge reservation %></p>
          <p class="card-text">
            <%= t 'product.start_on' %> <%= reservation.start_on.strftime("%H:%M %d/%m/%Y") %>
            <br>
            <%= render 'shared/stars' %>
            <hr>
            <%= reservation.product.description %>
            <hr>
            <%= render 'users/sticker', user: reservation.product.user %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>