<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('categories'), categories_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to @reservation.product.category.name, @reservation.product.category %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to @reservation.product.name, @reservation.product %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t 'reservation.reservation' %> #<%= @reservation.id %></li>
  </ol>
</nav>
<div class="row">
  <div class="col">
    <h1>
      <%= t 'reservation.reservation' %> #<%= @reservation.id %>
      <%= status_badge @reservation %>
    </h1>
    <p><%= t 'lorem' %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1><%= t 'reservation.messages' %> #<%= @reservation.id %></h1>
    <p><%= t 'lorem' %></p>
  </div>
</div>
<div class="row">
  <!-- display history -->
  <div class="col-5">
    <h2><%= t 'reservation.reservation_statuses' %></h2>
    <table class="table">
      <thead>
        <tr>
          <th><%= t 'reservation_status.status' %></th>
          <th><%= t 'reservation_status.created_at' %></th>
        </tr>
      </thead>
      <tbody>
        <% @reservation.reservation_statuses.each do |status| %>
          <tr>
            <td><%= t 'reservation_status.%s' % status.status %></td>
            <td><%= status.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('reservation.cancel'), @reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
  <!-- display price -->
  <div class="col-7">
    <h2><%= t 'reservation.price' %></h2>
    <table class="table">
      <tr>
        <td><%= @reservation.product.price %> <%= t 'product.price_unit' %> * <%= @reservation.persons %> <%= t 'reservation.persons' %></td>
        <th><%= @reservation.total_price_without_charge %> <%= t 'reservation.price_unit' %></th>
      </tr>
      <tr>
        <td><%= t 'reservation.service_charges' %></td>
        <th><%= @reservation.price_of_service_charges %> <%= t 'reservation.price_unit' %></th>
      </tr>
      <tr class="table-secondary">
        <td><%= t 'reservation.total_price' %></td>
        <th><%= @reservation.total_price %> <%= t 'reservation.price_unit' %></th>
      </tr>
    </table>
  </div>
</div>