<%= bootstrap_form_for(product, multipart: true) do |form| %>
  <%= form.text_field :name, label: t('form.name'), placeholder: t('product.placeholder.name') %>
  <%= form.number_field :price, label: t('form.price'), append: '€' %>
  <div class="form-group">
    <%= form.label :country, 'Country' %>
    <%= form.country_select :country, {}, class: 'form-control' %>
  </div>
  <%= form.collection_select :category_id, Category.all, :id, :name %>
  <%= form.text_area :description, label: t('form.description') %>
  <%= form.file_field :picture, label: t('form.picture') %>
  <%= form.submit t('form.save') %>
<% end %>