<div class="row">
  <% products.select{|p| p.user != nil}.each do |product| %>
    <div class="col-md-4">
      <%= link_to product, class: 'card-product' do %>
        <div class="card mb-4 card-product">
          <div class="card-img-top" style="background-image: url(<%= product.picture.url %>)" alt="Card image cap"></div>
          <div class="card-body">
            <p class="card-title"><span class="category"><%= product.category.name %></span><strong><%= product.name %></strong></p>
            <p class="card-text">
              <strong><%= product.price %> €</strong>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>