<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('categories'), categories_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to @product.category.name, @product.category %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
  </ol>
</nav>
<div class="cover" style="background-image: url(<%=  @product.picture.url %>)"></div>
<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p><%= t 'product.created_by' %></p>
<%= render 'users/sticker', user: @product.user %>
<%= link_to t('product.edit'), edit_product_path(@product), class: 'btn btn-warning' if @product.user == current_user %>